.categoria, .info-general i{
    color: var(--eventu-pink);
}

.categoria:hover{
    color: var(--eventu-pink);
}

.contenedor-portada{
    position: relative;
}

.portada{
    width: 100%;
    max-height: 360px;
    object-fit: cover;
}

.contenedor-portada .contenedor-titulo{
    background-color: rgba(150, 150, 150, 0.8);
    position: absolute;
    width:100%;
    bottom: 0;
    color: white;
}

.contenedor-nivel2{
    max-width: 700px;
    max-height: 300px;
    overflow: hidden;
}

.contenedor-mapa{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.mapa{
    position: absolute;
    border: 0;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.info-general{
    background-color: rgb(245, 245, 245);
}

.inscribirse{
    font-size: 2em;
}

.usuario, .usuario:hover{
    color: var(--eventu-pink);
}